$mediumBlue: #1891EE;
$darkGray: #53565A;
$gray1: #F7F8F9;
$gray2: #EDEFF0;
$gray3: #E1E5E7;
$intelBlue: #0071C5;

$textColor: #E7E7E7;
$cvmaOrange: #F2A731;
$linkColor: #EDBA01;
$activeLinkColor: $cvmaOrange;

$headerHeight: 136px;
