<div class="contact-content">
  <h3 class="center underline">Contact Us</h3>

  <form class="form-horizontal" novalidate name="contactForm">
    <div class="form-group">
      <label class="col-sm-4 control-label" for="nameInput">Name</label>

      <div class="col-sm-8">
        <input id="nameInput" class="form-control" name="name" type="text" data-ng-model="vm.message.name" required>

        <span class="required-indicator" ng-show="contactForm.name.$invalid">
          <span ng-show="contactForm.name.$error.required"></span>
        </span>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label" for="emailInput">E-mail</label>

      <div class="col-sm-8">
        <input id="emailInput" class="form-control" name="email" type="email" data-ng-model="vm.message.email" required>

        <span class="required-indicator" ng-show="contactForm.email.$invalid">
          <span ng-show="contactForm.email.$error.required || contactForm.email.$error.email"></span>
        </span>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label" for="phoneInput">Phone number</label>

      <div class="col-sm-8">
        <input id="phoneInput" class="form-control" name="phone" type="text" data-ng-model="vm.message.phone">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label" for="bikeInput">Motorcycle type &amp; size</label>

      <div class="col-sm-8">
        <input id="bikeInput" class="form-control" name="bike" type="text" data-ng-model="vm.message.bike">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label" for="msgInput">Message</label>

      <div class="col-sm-8">
        <textarea id="msgInput" class="form-control" name="message" data-ng-model="vm.message.body" required></textarea>

        <span class="required-indicator" ng-show="contactForm.message.$invalid">
          <span ng-show="contactForm.message.$error.required"></span>
        </span>
      </div>
    </div>

    <br>

    <div class="col-sm-offset-4 col-sm-8">
      <button type="button" class="btn btn-primary btn-cvma" data-ng-click="vm.sendMessage()" data-ng-disabled="contactForm.$invalid || vm.sending">Send</button>
    </div>
  </form>
</div>
